<body>
  <div class="profile-info">
    <img src="#" alt="profile pic">
    <h1>User profile name</h1>
  </div>
  <div class="announcements">
    <ul>
      <li>Welcome friends!</li>
      <li>Taking a trip to the beach this weekend!</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
      <li>Lorem ipsum dolor sit.</li>
    </ul>
  </div>
</body>