<head>
  <link rel="stylesheet" type="text/css" href="/css/networks/index.css">
</head>

<body>
  <div class="profile-info">
    <img src="#" alt="profile pic">
    <h1>User profile name</h1>
  </div>
  <div class="announcements">
    <ul>
      <li><a href="#">Welcome friends!</a></li>
      <li><a href="#">Taking a trip to the beach this weekend!</a></li>
      <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></li>
      <li><a href="#">Lorem ipsum dolor sit.</a></li>
    </ul>
  </div>
</body>