<head>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <div class="main-selection">
    <a name="nav-bar">

    <div class="header">
      <h1>Cabal</h1>
      <ul>
        <li><a href="#login">Login</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#nav-bar">Home</a></li>
      </ul>
    </div>

    <div class="top-content">
      <span><a href="#">Log in</a></span>
      <span><a href="#">Create Network</a></span>
    </div>
  </div>

  <div class="about">
    <a name="about">
    <h2>What is Cabal?</h2>
    <p>This is a description of the purpose behind creating your own personal social network. It will explain that this site doesn't track personal data to sell to ads and shit.</p>

  </div>
</body>




<!--
<div class="container">
  <%if current_user  %>
    <h1>Logged in as <%=@current_user.username %></h1>
    <a href='/users/<%=current_user.id%>/edit'>Edit User</a>
    <form action='/sessions/<%=current_user.id%>' method='POST'>
    	<input type='hidden' name='_method' value='DELETE'>
    	<input type='submit' value='Log Out'>
    </form>
  <%else  %>
  <a href='/users/new'>Create User</a>
  <a href='/sessions/new'>Log In</a>
  <%end %>
</div>
 -->
